<!--<p> {{ text  | summary:35  }} </p>-->
<!--<a href="#" [routerLink]="['/blog/detail/1']">-->
<!--  Więcej-->
<!--</a>-->
<p class="card-text">{{ text | summary:30 }}</p>
<a href="#" class="btn btn-primary" [routerLink]="['/blog/detail/' + id]">
  Więcej
</a>
